.details {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 1rem;
}

.header {
	font-weight: 700;
	margin-bottom: 1rem;
}

.abilities {
	background-color: rgb(234, 230, 230);
	padding: 1rem;
	min-height: 25ch;
	border-radius: 0.5em;
}

.abilities__header {
	margin-bottom: 1rem;
}

.types {
	list-style: none;
}

.type {
	display: inline-block;
	margin-right: 0.5em;
	margin-bottom: 1em;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: rgb(245, 245, 131);
	padding: 0.3em 1em;
	border-radius: 0.7em;
	cursor: pointer;
}

.type:hover {
	background-color: rgba(245, 245, 131, 0.5);
}

.selected {
	outline: 1px solid red;
}
