.image_card {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	padding: 2rem;
}

.logo_wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.info {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	align-items: center;
	font-size: 1.4em;
}

.pokemon {
	flex: 1;
	position: relative;
}

.pokemon_img {
	margin: 0 auto;
	transform: translateY(20%);
}

.types {
	list-style: none;
	margin-bottom: 1em;
}

.type {
	display: inline-block;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: rgb(245, 245, 131);
	padding: 0.2em 0.5em;
	border-radius: 0.7em;
	margin-right: 0.5em;
	text-transform: capitalize;
}

@media screen and (min-width: 700px) {
	.image_card {
		min-width: 10%;
		width: 30%;
		border-top-left-radius: 1em;
		border-top-right-radius: 0;
		border-bottom-left-radius: 1em;
	}
}
