.image_card {
	min-width: 10%;
	width: 20%;
}

.img_wrapper {
	width: fit-content;
	padding: 0.5rem;
	border-radius: 50%;
	background-color: grey;
}

.pokemon {
	display: grid;
	place-content: center;
	text-align: center;
}

.id {
	margin-top: 1rem;
	color: grey;
}

.types {
	list-style: none;
}

.type {
	display: inline-block;
	margin: 0.5em;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: rgb(245, 245, 131);
	padding: 0.3em 1em;
	border-radius: 0.7em;
}
