.flex {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 5rem;
	gap: 3rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	width: 100%;
	grid-auto-rows: 1fr;
	gap: 2rem;
	padding: 5rem;
}
