.container {
	width: 90%;
	margin: 2rem auto;
}

.card_content {
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	width: 100%;
	min-height: 35rem;
}

@media screen and (min-width: 700px) {
	.card_content {
		flex-direction: row;
	}
}
