.pokemon_card {
	transition: transform 0.3s;
	background-image: radial-gradient(transparent, #20cbe9);
	border-radius: 0.8em;
}

.pokemon_card:hover {
	transform: translateY(-8%);
	background-image: radial-gradient(#20cbe9, #023d47);
	color: whitesmoke;
}

.header {
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.5em;
	text-align: center;
	font-size: 1.3em;
	font-weight: 800;
}

.pokemon_img_wrapper {
	box-shadow: inset rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 100%;
	padding: 1em;
	width: fit-content;

	background-color: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pokemon_img {
	object-fit: contain;
	width: 200px;
	height: 200px;
	transition: transform 0.3s;
}

.hovered {
	transform: scale(1.22);
}
