.navbar {
	width: 100%;
	height: 5rem;
	background-color: white;
	position: sticky;
	top: 0;
	left: 0;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
}

.navbar__options {
	list-style: none;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-size: 1.3em;
	margin-right: 1em;
	color: #333;
	font-weight: 700;
}

.navbar__option:hover {
	color: #666;
}

.logo {
	max-width: 20%;
}

.selected {
	border-bottom: 1px solid green;
}
